Repository CMPN-CODECELL/Hacktoberfest2021, pull requests merged in 2021-10, with the labels that each got.

#4 Register page added
  Web Devlopment/Footer/index.html
  Web Devlopment/Footer/styles.css
  Web Devlopment/Register/image/signup.png
  Web Devlopment/Register/register.html
  Web Devlopment/Register/signin.css
Labels: hacktoberfest-accepted, hacktober, web-development

#6 BFS traversal Algorithm using python
  Algorithms/Python/BFS/BFS.py
Labels: hacktoberfest-accepted, hacktober, algorithm

#11 added Sieve in C++
  Algorithms/C++/Sieve of Eratosthenes/Sieve.cpp
Labels: hacktoberfest-accepted, hacktober, algorithm

#9 My website project
  Projects/my-website-main/README.md
  Projects/my-website-main/S letter.png
  Projects/my-website-main/circle-cropped (2).png
  Projects/my-website-main/cloud.png
  Projects/my-website-main/contact me.png
  Projects/my-website-main/index.html
  Projects/my-website-main/mountain.png
  Projects/my-website-main/pop-corn.png
  Projects/my-website-main/programming.png
  Projects/my-website-main/styles.css
Labels: hacktoberfest-accepted, hacktober, project

#32 Added the code for 0/1Knapsack in C++
  Algorithms/C++/knapsack/knapsack.cpp
Labels: hacktoberfest-accepted, hacktober, algorithm

#38 Added BFS.cpp
  .DS_Store
  Algorithms/.DS_Store
  Algorithms/C++/.DS_Store
  Algorithms/C++/BFS/BFS
  Algorithms/C++/BFS/BFS.cpp
Labels: hacktoberfest-accepted, hacktober, algorithm

#40 Added Navbar in Web Development
  Web Devlopment/Navbar/Navbar(Hacktoberfest 2021)/index.html
  Web Devlopment/Navbar/Navbar(Hacktoberfest 2021)/styles.css
Labels: hacktoberfest-accepted, hacktober, web-development

#37 Searching Algorithms
  Algorithms/C/Searching Algorithms/Binary Search.c
  Algorithms/C/Searching Algorithms/Linear Search.c
Labels: hacktoberfest-accepted, hacktober, algorithm

#42 added form template
  Web Devlopment/form-template/assets/bgimg.png
  Web Devlopment/form-template/assets/signin.png
  Web Devlopment/form-template/assets/signup.png
  Web Devlopment/form-template/form.css
  Web Devlopment/form-template/form.html
  Web Devlopment/form-template/form.js
Labels: hacktoberfest-accepted, hacktober, web-development

#44 Kadane's Algorithm for Largest Contiguous Sub-Array Sum in Python
  Algorithms/Python/Kadane's Algorithm/Largest_Subarray_sum.py
Labels: hacktoberfest-accepted, hacktober, algorithm

#48 Create Food_Billing_system.py
  Projects/Food_Billing_System.py
Labels: hacktoberfest-accepted, hacktober

#52 quick sort Algorithm
  Algorithms/Java/Sorting Algorithms/quick sort.java
Labels: hacktoberfest-accepted, hacktober, algorithm

#58 Added Voice Assistant Project
  Projects/Voice Assistant Project/God's_Eye.py
  Projects/Voice Assistant Project/requirements.txt
Labels: hacktoberfest-accepted, hacktober, project

#59 Added Example of CNN model using CIFAR dataset
  Machine Learing/Machine Learning Projects/CNN-CIFAR/CNN_CIFAR.ipynb
  Machine Learing/Machine Learning Projects/CNN-CIFAR/README.md
Labels: hacktoberfest-accepted, hacktober, project

#62 Added Selection Sort Algorithm Using Java
  Algorithms/Java/Sorting Algorithms/Selection_Sort.java
Labels: hacktoberfest-accepted, hacktober, algorithm

#64 Added Merge Sort algorithm in Java
  Algorithms/Java/Sorting Algorithms/MergeSort.java
Labels: hacktoberfest-accepted, hacktober, algorithm

#74 Added Dijkstra's Algorithm
  Algorithms/C++/Dijkstra/Dijkstra.cpp
Labels: hacktoberfest-accepted, hacktober, algorithm

#76 Added Binary Search Algorithm in Java
  Algorithms/Java/Searching Algorithms/Binary_Search.java
Labels: hacktoberfest-accepted, hacktober, algorithm

#79 Cards added in web development
  Web Devlopment/Cards/cards 2/README.md
  Web Devlopment/Cards/cards 2/img/andrew-coelho-aL7SA1ASVdQ-unsplash.jpg
  Web Devlopment/Cards/cards 2/img/jon-flobrant-rB7-LCa_diU-unsplash.jpg
  Web Devlopment/Cards/cards 2/img/rohit-tandon-9wg5jCEPBsw-unsplash.jpg
  Web Devlopment/Cards/cards 2/index.html
  Web Devlopment/Cards/cards 2/style.css
Labels: hacktoberfest-accepted, hacktober, web-development

#96 Login page added to memeshare app
  .DS_Store
  Projects/.DS_Store
  Projects/MemeShare/.DS_Store
  Projects/MemeShare/app/src/main/AndroidManifest.xml
  Projects/MemeShare/app/src/main/java/com/example/memeshare/LoginActivity.kt
  Projects/MemeShare/app/src/main/res/layout/activity_login.xml
  Projects/MemeShare/app/src/main/res/values/strings.xml
  Projects/MemeShare/build.gradle
Labels: hacktoberfest-accepted, hacktober, project

#103 Data Analysis Voice Assistant Added
  Projects/Data-Analyst-Voice-Assistant-main/.DS_Store
  Projects/Data-Analyst-Voice-Assistant-main/.ipynb_checkpoints/Voice_Assistant_Project-checkpoint.ipynb
  Projects/Data-Analyst-Voice-Assistant-main/README.md
  Projects/Data-Analyst-Voice-Assistant-main/Voice_Assistant_Project.py
Labels: hacktoberfest-accepted, hacktober, project

#104 added bubblesort.c
  Algorithms/C/Sorting Algorithms/bubblesort.c
Labels: hacktoberfest-accepted, hacktober, algorithm

#106 added selectionsort.c
  Algorithms/C/Sorting Algorithms/selectionsort.c
Labels: hacktoberfest-accepted, hacktober, algorithm

#110 Added Kruskal's Algorithm in C++
  Algorithms/C++/Kruskal's Algorithm/Krushkal.cpp
Labels: hacktoberfest-accepted, hacktober, algorithm

#111 .cpp file added for Selection Sort
  Algorithms/.DS_Store
  Algorithms/C++/Sorting Algorithms/.DS_Store
  Algorithms/C++/Sorting Algorithms/SelectionSort.cpp
  Algorithms/Java/.DS_Store
Labels: hacktoberfest-accepted, hacktober

#115 Added DFS code in C language
  Algorithms/C/DFS/dfs.c
Labels: hacktoberfest-accepted, hacktober, algorithm
